<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.hl.umeng">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

    <!-- Android 11开始，必须要在AndroidManifest.xml清单文件中加入query权限, 添加如下<queries>标签 -->
    <queries>
        <package android:name="com.tencent.mm" />                   <!-- 指定微信包名 -->
        <package android:name="com.tencent.mobileqq" />             <!-- 指定qq包名 -->
        <package android:name="com.sina.weibo" />                   <!-- 指定微博包名  -->
        <package android:name="com.tencent.wework" />               <!-- 指定企业微信包名  -->
        <package android:name="com.qzone" />                        <!-- 指定QQ空间包名 -->
        <package android:name="com.alibaba.android.rimet" />        <!-- 指定钉钉包名 -->
        <package android:name="com.eg.android.AlipayGphone" />      <!-- 指定支付宝包名 -->
        <package android:name="com.instagram.android" />            <!-- 指定instagram包名 -->
    </queries>

    <application>

        <activity
            android:name="com.hl.umeng.wxapi.WXEntryActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <!--微信分享模块还需要在工程增加 provider 标签配置-->
        <provider
            android:name=".providers.UmengFileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/public_file_paths" />
        </provider>
    </application>

</manifest>